<div class="text-panel-container" *ngIf="fragment; else noFragment">
  <div class="header">

    <span
      (click)="editDate()"
      [ngStyle]="{
        'background-color': isDateValid ? null : 'red',
        'padding': '2px',
        'border-radius': '2px'
       }"
    >
      {{ formattedDate }}
    </span>

    <!-- hidden field + picker -->
    <mat-form-field style="width:0; height:0; overflow:hidden; margin:0; padding:0;">
      <input matInput [matDatepicker]="picker" [value]="date"
             (dateChange)="onDateSelected($event)">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- save button -->
    <button
      class="save-button"
      type="button"
      [disabled]="!hasEdits"
      [ngClass]="{ 'active': hasEdits }"
      (click)="onSave()"
    >
      Save
    </button>
  </div>

  <div class="body">
    <form [formGroup]="form">    
      <quill-editor
        formControlName="body"
        [modules]="editorModules"
        placeholder="Write something…">
      </quill-editor>
      </form>
  </div>
</div>

<ng-template #noFragment>
  <p>No fragment selected. Please click on a marquee to view details.</p>
</ng-template>
