<div class="page" (keydown)="onKeyDown($event)" tabindex="0">

  <app-pageheader (add)="onAddButtonClick()" (view)="onViewButtonClick()" (select)="onSelectButtonClick()" [title]="title$ | async"></app-pageheader>

  <div id="svg-container" [ngClass]="[mode, cursorStyle, svgContainerClass]">
    <svg
      #svgRef
      id="zoomable-svg"
      xmlns="http://www.w3.org/2000/svg"
      [attr.viewBox]="viewBoxString()"
      preserveAspectRatio="xMidYMid meet"
      class="svg"
      (wheel)="onWheel($event)"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp($event)"
      (contextmenu)="onRightClick($event)"
      >
      <image *ngIf="diary && page"
        x="0" y="0"
        [attr.href]="imageUrl"
        [attr.width]="page.width" [attr.height]="page.height" />

        <rect *ngIf="currentMarquee"
        [attr.id]="currentMarquee.id"
        [attr.x]="currentMarquee.rectangle.x"
        [attr.y]="currentMarquee.rectangle.y"
        [attr.width]="currentMarquee.rectangle.width"
        [attr.height]="currentMarquee.rectangle.height"
        class='inprogress'
        />

        <rect *ngFor="let marquee of marquees"
        [attr.id]="marquee.id"
        [attr.x]="marquee.rectangle.x"
        [attr.y]="marquee.rectangle.y"
        [attr.width]="marquee.rectangle.width"
        [attr.height]="marquee.rectangle.height"
        [attr.class]="marquee.id == selectedMarqueeId ? 'selected' : 'selectable'"
        (click)="onSelectMarquee(marquee)"
        (contextmenu)="onMarqueeRightClick($event, marquee)"
         />

    </svg>
  </div>

  <div class="padding"></div>

  <app-pagefooter
  (back)="onBackPressed()"
  (up)="onUpPressed()"
  (forward)="onForwardPressed()"
></app-pagefooter>

</div>
