.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#zoomable-svg {
  display: block;
  width: auto;
  height: auto;
}

#svg-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.view {
    cursor: grab
  }

  &.add {
    cursor: crosshair
  }

  &.select {

    cursor: default;

    &.corner-1-resize {
      cursor: url('/assets/cursors/corner-1-resize.svg') 16 16, default;
    }

    &.corner-2-resize {
      cursor: url('/assets/cursors/corner-2-resize.svg') 16 16, default;
    }

    &.horizontal-resize {
      cursor: url('/assets/cursors/horizontal-resize.svg') 16 16, default;
    }

    &.vertical-resize {
      cursor: url('/assets/cursors/vertical-resize.svg') 16 16, default;
    }

    &.move {
      cursor: url('/assets/cursors/move.svg') 16 16, default;
    }
  }
}

.inprogress {
  stroke: red;
  stroke-width: 4;
  fill: transparent;
  stroke-width: 10;
  stroke-dasharray: 10
}

.selected {
  stroke: green;
  stroke-width: 4;
  fill: transparent;
  stroke-width: 10;
  stroke-dasharray: 10
}

.selectable {
  stroke: #000;
  stroke-width: 4;
  fill: transparent;
  stroke-width: 10;
  stroke-dasharray: 10
}

rect,
path {
  pointer-events: all;
}