<div class="page" (keydown)="onKeyDown($event)" tabindex="0">

  <app-pageheader (add)="onAddButtonClick()" (view)="onViewButtonClick()" (select)="onSelectButtonClick()" [title]="title$ | async"></app-pageheader>

  <div id="svg-container" [ngClass]="[mode, style]">
    <svg id="zoomable-svg" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="viewBox" preserveAspectRatio="xMidYMid meet" 
      (wheel)="onWheel($event)"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp($event)"
      >
      <image *ngIf="diary && page"
        [attr.href]="fileServerUrl + '/' + diary.name + '/' + page.name + (page.extension || '.jpg')" x="0" y="0"
        [attr.width]="page.width" [attr.height]="page.height" />

        <rect *ngIf="currentFragment"
        [attr.id]="currentFragment.id"
        [attr.x]="currentFragment.x"
        [attr.y]="currentFragment.y"
        [attr.width]="currentFragment.width"
        [attr.height]="currentFragment.height"
        class='inprogress'
        />

        <rect *ngFor="let fragment of fragments"
        [attr.id]="fragment.id"
        [attr.x]="fragment.x"
        [attr.y]="fragment.y"
        [attr.width]="fragment.width"
        [attr.height]="fragment.height"
        [attr.class]="fragment === selectedFragment ? 'selected' : 'selectable'"
        (click)="onSelectFragment(fragment)"
         />

    </svg>
  </div>

  <div class="padding"></div>

  <!-- <app-alerts></app-alerts> -->
  <!-- <app-alertbuttons></app-alertbuttons> -->
  <app-pagefooter></app-pagefooter>

</div>
