<div class="page" (keydown)="onKeyDown($event)" tabindex="0">

  <app-pageheader (add)="onAddButtonClick()" (view)="onViewButtonClick()" (select)="onSelectButtonClick()" [title]="title$ | async"></app-pageheader>

  <div id="svg-container" [ngClass]="[mode, style]">
    <svg id="zoomable-svg" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="viewBoxAsString" preserveAspectRatio="xMidYMid meet" 
      (wheel)="onWheel($event)"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp($event)"
      >
      <image *ngIf="diary && page"
        [attr.href]="fileServerUrl + '/' + diary.name + '/' + page.name + (page.extension || '.jpg')" x="0" y="0"
        [attr.width]="page.width" [attr.height]="page.height" />

        <rect *ngIf="currentMarquee"
        [attr.id]="currentMarquee.id"
        [attr.x]="currentMarquee.rectangle.x"
        [attr.y]="currentMarquee.rectangle.y"
        [attr.width]="currentMarquee.rectangle.width"
        [attr.height]="currentMarquee.rectangle.height"
        class='inprogress'
        />

        <rect *ngFor="let marquee of marquees"
        [attr.id]="marquee.id"
        [attr.x]="marquee.rectangle.x"
        [attr.y]="marquee.rectangle.y"
        [attr.width]="marquee.rectangle.width"
        [attr.height]="marquee.rectangle.height"
        [attr.class]="marquee === selectedMarquee ? 'selected' : 'selectable'"
        (click)="onSelectMarquee(marquee)"
         />

    </svg>
  </div>

  <div class="padding"></div>

  <!-- <app-alerts></app-alerts> -->
  <!-- <app-alertbuttons></app-alertbuttons> -->
  <app-pagefooter></app-pagefooter>

</div>
