.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#zoomable-svg {
  display: block;
  width: auto;
  height: auto;
}

#svg-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.view {
    cursor: grab
    // cursor: url('/assets/cursors/view-cursor.svg') 16 16, default;
    // border: 5px solid red; // DEBUGGING ONLY
  }

  &.select {
    cursor: default
    // cursor: url('/assets/cursors/select-cursor.svg') 16 16, default;
    // border: 5px solid green; // DEBUGGING ONLY
  }

  &.add {
    cursor: crosshair
    // cursor: url('/assets/cursors/add-cursor.svg') 16 16, default;
    // border: 5px solid blue; // DEBUGGING ONLY
  }
}

.inprogress {
  stroke: red;
  stroke-width: 4;
  fill: transparent;
  stroke-width: 10;
  stroke-dasharray: 10
}

.selected {
  stroke: green;
  stroke-width: 4;
  fill: transparent;
  stroke-width: 10;
  stroke-dasharray: 10
}

.selectable {
  stroke: #000;
  stroke-width: 4;
  fill: transparent;
  stroke-width: 10;
  stroke-dasharray: 10
}

rect, path {
  pointer-events: all;
}
