
@import "../../constants";


.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card {
  height: 90% !important;
  position: relative;
  overflow: hidden;
}

.content {
  max-height: 100%;
  overflow-y: auto;
}

.padding {
  flex-grow: 1;
}

.diaries-table {
  width: 100%;
  table-layout: fixed;

  .mat-header-cell,
  .mat-cell {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .column-id {
    width: 80px;
  }

  .column-name {
    width: auto;
  }
}



