
@import "../../constants";


.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-card {
  height: 90% !important;
  position: relative;
  overflow: hidden;
}

.list-container {
  max-height: 100%;
  overflow-y: auto;
}

.padding {
  flex: 1;
  overflow: auto;
}

.alerts .alertbuttons .footer {
  flex-shrink: 0;
}

