<div class="page">
  <app-fullheader></app-fullheader>


  <mat-card appearance="outlined" class="card">
    <mat-card-content class="content">


      <table mat-table [dataSource]="diaries" class="mat-elevation-z8 diaries-table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="column-id"> id </th>
          <td mat-cell *matCellDef="let diary" class="column-id"> {{diary.id}} </td>
        </ng-container>e

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="column-name"> name </th>
          <td mat-cell *matCellDef="let diary" class="column-name"> {{diary.name}} </td>
        </ng-container>

        <tr mat-row *matRowDef="let diary; columns: displayedColumns;" (click)="selectItem(diary.id)"></tr>
      </table>


    </mat-card-content>
  </mat-card>

  <div class="padding"></div>
  <!-- <app-alerts></app-alerts> -->
  <!-- <app-alertbuttons></app-alertbuttons> -->
  <app-fullfooter></app-fullfooter>
</div>