<div class="page">
  <app-fullheader [title]="title"></app-fullheader>


  <mat-card appearance="outlined" class="card">
    <mat-card-content class="content">

      

      <div *ngIf="diary">

        <div>
          <div>id: {{diary.id}}</div>
        </div>

        <div>
          <div>path: {{diary.path}}</div>
        </div>

        <div>
          <label for="diary">name: </label>
          <input id="diary" [(ngModel)]="diary.path" placeholder="name">
        </div>

      </div>



    </mat-card-content>
  </mat-card>

  <div class="padding"></div>
  <app-alerts></app-alerts>
  <app-alertbuttons></app-alertbuttons>
  <app-fullfooter></app-fullfooter>
</div>