.page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: bold;
  }
  
  .title-content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  
  .title-item {
    min-width: 100px;
  }
  
  .table {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 4px;
    background-color: #fafafa;
  }
  
  .diary-table {
    width: 100%;
    table-layout: fixed;
  
    .mat-header-cell,
    .mat-cell {
      padding: 8px;
    }
  
    .column-id {
      width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  
    .column-name {
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  