<div class="page">
  <app-fullheader [title]="title"></app-fullheader>

  <div class="title">
    <div *ngIf="diary" class="title-content" >

          <div class="title-item">{{diary.id}}</div>

          <div class="title-item">{{diary.name}}</div>

    </div>
  </div>

  <div class="table">
      <table mat-table [dataSource]="pages" class="tbody">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
      </table>
  </div>


  <app-alerts></app-alerts>
  <app-alertbuttons></app-alertbuttons>
  <app-fullfooter></app-fullfooter>
</div>