
@import "../../constants";


.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
}

.title-content {
  max-height: 100%;
  overflow-y: auto;
  background-color: $neutral-100;
  margin: 10px;
  border-style:inset; 
  border-radius: 6px;
  display: flex;
  flex-direction: row;
}

.title-item {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-size:24px;
}

.table {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  border-style:inset; 
  border-radius: 6px;
  margin: 10px;
}

::ng-deep .column-id {
  width: 80px;
  flex: 0 0 80px; /* fixed width */
}

::ng-deep  .column-name {
  width: auto;
  flex: 1 1 auto; /* take up the rest */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.diary-table {
  width: 100%;
  table-layout: fixed;

  .mat-header-cell,
  .mat-cell {
    padding: 8px;
  }

  .column-id {
    width: 80px;
    flex: 0 0 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .column-name {
    width: auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
