<mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon hand-pointer-icon" aria-label="Example icon-button with hand-pointer icon" (click)="onViewClick()">
      <mat-icon svgIcon="hand-pointer"></mat-icon>
    </button>

    <button mat-icon-button class="example-icon select-icon" aria-label="Example icon-button with select icon" (click)="onSelectClick()">
      <mat-icon svgIcon="select"></mat-icon>      
    </button>

    <button mat-icon-button class="example-icon add-icon" aria-label="Example icon-button with add icon" (click)="onAddClick()">
      <mat-icon svgIcon="cross"></mat-icon>
    </button>

  </mat-toolbar>