

@import "../../constants";



.alert-message{
    white-space: pre-wrap;
}

.alert-success {
    background-color: $green-100;
}

.alert-danger {
    background-color: $red-100;
}

.alert-info {
    background-color: $cyan-100;
}

.alert-warning {
    background-color: $orange-100;
}


.alert-dump{
    white-space: pre-wrap;
    background-color: $neutral-200;
}
