
@import "../../constants";

.alertbuttons {
    background-color: pink;
    padding: 10px;
    text-align: center;
}

.alert-success {
    background-color: $green-100;
}

.alert-danger {
    background-color: $red-100;
}

.alert-info {
    background-color: $cyan-100;
}

.alert-warning {
    background-color: $orange-100;
}



.alert-container {
    display: flex;
    flex-direction: row;
    align-items: center, stretch;
}

.alert-close {
    flex-grow: 0;
    border-width: 0;
}

.alert-message {
    flex-grow: 1;
    align-content: center;
    padding: 4px;
}


  
