<div class="page">

  <app-plainheader></app-plainheader>

  <div class="pagename">
    <h3>Signin</h3>
  </div>

  <form [formGroup]="form" class="form" autocomplete="on" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="item">
      <mat-label>Username</mat-label>
      <input 
        matInput 
        formControlName="username"
        type="text" 
        name="username"
        autocomplete="username"
        required>
      @if (usernameFormControl.invalid) {
        <mat-error>{{getErrorMessage(usernameFormControl)}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="item">
      <mat-label>Password</mat-label>
      <input 
        matInput 
        formControlName="password"
        [type]="hide ? 'password' : 'text'" 
        name="password"
        autocomplete="current-password"
        required>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (passwordFormControl.invalid) {
        <mat-error>{{getErrorMessage(passwordFormControl)}}</mat-error>
      }
    </mat-form-field>

    <mat-card-actions class="button-container">
      <button type="submit" mat-raised-button [disabled]="!form.valid" color="primary">Signin</button>
      <button type="button" mat-raised-button (click)="onRegister()" class="button">Register</button>
    </mat-card-actions>

  </form>

  <div class="padding"></div>
  <!-- <app-alerts></app-alerts> -->
  <!-- <app-alertbuttons></app-alertbuttons> -->
  <app-plainfooter></app-plainfooter>
</div>