<svg
  #svgRef
  id="svg"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  preserveAspectRatio="xMidYMid meet"
  width="100%"
  height="100%"
  [attr.viewBox]="'0 0 ' + width + ' ' + height"
  [ngClass]="[cursorStyle]"
  (wheel)="onWheel($event)"
  (mousedown)="onMouseDown($any($event))"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseLeave($any($event))"
  (contextmenu)="onRightClick($any($event))"
  (keydown)="onKeyDown($any($event))"
  tabindex="0"
>
  <g [attr.transform]="transformStyle">
    <defs id="defs1">
      <mask maskUnits="userSpaceOnUse" id="mask15">
        <g id="g17" style="display:inline">
          <rect
            id="rect-base"
            x="0"
            y="0"
            [attr.width]="width"
            [attr.height]="height"
            class="baseMask"
          />
          <g *ngFor="let m of otherMarquees; trackBy: trackById">
            <rect
              [attr.id]="m.id"
              [attr.x]="m.rectangle.x"
              [attr.y]="m.rectangle.y"
              [attr.width]="m.rectangle.width"
              [attr.height]="m.rectangle.height"
              class="otherMask"
            />
          </g>          
          <g *ngIf="marquee"> 
            <rect
              id="rect-selected"
              [attr.x]="marquee.rectangle.x"
              [attr.y]="marquee.rectangle.y"
              [attr.width]="marquee.rectangle.width"
              [attr.height]="marquee.rectangle.height"
              class="selectedMask"
            />
          </g>
        </g>
      </mask>

      <mask maskUnits="userSpaceOnUse" id="mask16">
        <g id="g17" style="display:inline">
          <rect
            id="rect-base"
            x="0"
            y="0"
            [attr.width]="width"
            [attr.height]="height"
            class="baseMask"
          />
          <g *ngIf="marquee">            
            <rect
              id="rect-selected"
              [attr.x]="marquee.rectangle.x"
              [attr.y]="marquee.rectangle.y"
              [attr.width]="marquee.rectangle.width"
              [attr.height]="marquee.rectangle.height"
              class="selectedMask"
            />
          </g>
        </g>
      </mask>
    </defs>

    <image
      id="image1"
      [attr.href]="imageURL"
      x="0"
      y="0"
      [attr.width]="width"
      [attr.height]="height"
      mask="url(#mask15)"
    />

    <g *ngFor="let m of otherMarquees; trackBy: trackById">
      <rect
        [attr.id]="m.id"
        [attr.x]="m.rectangle.x"
        [attr.y]="m.rectangle.y"
        [attr.width]="m.rectangle.width"
        [attr.height]="m.rectangle.height"
        class="other"
        (click)="onSelectMarquee(m)"
      />
    </g>

    <image
      id="image2"
      [attr.href]="imageURL"
      x="0"
      y="0"
      [attr.width]="width"
      [attr.height]="height"
      mask="url(#mask16)"
      style="pointer-events: none"
    />
  </g>
</svg>
