<mat-toolbar class="footer">

  <button mat-icon-button class="home icon" aria-label="Home" (click)="home()">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button class="arrow-up icon" aria-label="arrowUp" (click)="onUpClick()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  
  <span class="spacer"></span>

  <!-- CENTERED ALERTS -->
  <div class="footer-alerts">
    <app-alerts></app-alerts>
  </div>

  <span class="spacer"></span>

  <button mat-icon-button class="arrow-left icon" aria-label="arrowLeft" (click)="onBackClick()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button mat-icon-button class="arrow-left icon" aria-label="arrowRight" (click)="onForwardClick()">
    <mat-icon>arrow_forward</mat-icon>
  </button>

  <app-version-info></app-version-info>

</mat-toolbar>


