
@use '../../../styles/constants' as *;

.footer {
  background-color: $primary;
}

spacer {
  flex: 1 1 auto;
}

.icon {
  color: black;
}

.footer-alerts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
