<mat-toolbar class="footer">
  <div class="shell-inner">
    <nav class="footer-navigation" aria-label="Page navigation">
      <button mat-icon-button class="shell-action" title="Home" aria-label="Home" (click)="home()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="shell-action" title="Up to diary" aria-label="Up to diary" (click)="onUpClick()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-icon-button class="shell-action" title="Previous page" aria-label="Previous page" (click)="onBackClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button class="shell-action" title="Next page" aria-label="Next page" (click)="onForwardClick()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </nav>

    <div class="footer-alerts">
      <app-alerts></app-alerts>
    </div>

    <app-version-info></app-version-info>
  </div>
</mat-toolbar>


