
@import "../../../constants";

.footer {
  background-color: $primary;
}

.example-spacer {
  flex: 1 1 auto;
}

.footer-alerts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
