<div class="alertbuttons" >

    <div class="">
       <button class="success" (click)="success()">Success</button>
       <button class="error" (click)="error()">Error</button>
       <button class="info" (click)="info()">Info</button>
       <button class="warning" (click)="warning()">Warn</button>
       <button class="clear" (click)="clear()">Clear</button>
   </div>

    <div class="">
        <div class="">
            <input type="checkbox" name="autoClose" id="autoClose" class=""
                [(ngModel)]="options.autoClose">
            <label for="autoClose">Auto close alert after three seconds</label>
        </div>
    </div>
</div>