@import "../../constants";


:host {
  display: flex;
  flex-direction: column;
  height: 100vh; // full screen height
}

.fragment-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#svg-container {
  background-color: black;
  overflow: hidden;
}

// Both panels take up 50% width
#svg-container,
.fragment-text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Text panel specific styling
.fragment-text {
  padding: 1rem;
  background-color: white;  
  border-left: 1px solid;
  overflow: auto; // enables scrolling if text overflows
}

// Footer stays at the bottom
app-fullfooter {
  flex-shrink: 0;
}
