<mat-toolbar class="header">
  <div class="shell-inner">
    <button mat-icon-button class="shell-action" title="Menu" aria-label="Open application menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="shell-title">{{title}}</span>

    <div class="header-actions" role="group" aria-label="Diary actions">
      <button mat-icon-button class="shell-action" title="Favourite" aria-label="Favourite diary">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="shell-action" title="Share" aria-label="Share diary">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
