

$bg-green-500:  #22C55E;
$bg-green-100:  #DCFCE7;
$bg-red-500: #CC3333;
$bg-red-100: #FEE2E2;
$bg-cyan-500: #06B6D4;
$bg-cyan-100: #CFFAFE;
$bg-orange-500:  #F97316;
$bg-orange-300: #FDBA74;
$bg-orange-100: #FFEDD5;

