@import '@angular/material/prebuilt-themes/azure-blue.css';

@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

html, body, app-root {
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* GoldenLayout: hide all close/popout/maximise UI */
.lm_controls .lm_close,
.lm_controls .lm_popout,
.lm_controls .lm_maximise {
  display: none !important;
}

/* Hide the “X” inside each tab */
.lm_tab .lm_close_tab {
  display: none !important;
}

.files-dialog-panel .cdk-dialog-container {
  border: 1px solid gray;  /* your color */
  border-radius: 5px;   /* square corners */
  box-sizing: border-box;
  background: lightgray;            /* ensure a solid surface */  
}
