@import '@angular/material/prebuilt-themes/azure-blue.css';

@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}